{% extends "base.html" %}
{% load static %}
{% block title %}Password Reseting{% endblock title%}

    {%block contents%}
    <br><br>
    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="{% static "img/passreset.jpg" %}"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h3>You want Reset to Password?</h3>
                <p>
                    input to your setting mailadress.
                    we sent mail to reset password for you
                </p>
                <br>
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn" style="width:100px;background-color:black;color:white;height:30px;text-align:center;position:relative;top:-2px;line-height;" value="send mail" /><br>
                </form>
                <br>
                <a href="{% url "pokebook:index" %}" style="color:limegreen;">HOME</a>
                <hr>
            </div>
        </div>
        </div>
    </section>
    {% endblock %}