{% extends "base.html" %}
{% load static %}
{%block title%}Send Reset Password{%endblock%}

    {%block contents%}
    <section class="vh-100">
        <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="{% static "img/sent.jpg" %}"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h5>We send mail to reset password.</h5>
                <br>
                <h6>
                    if you dont have email. you should check to emailadress and spamfolder.
                </6>
                <br>
                <br>
                <a href="{% url "pokebook:index" %}" style="color:limegreen">HOME</a>
                <hr>
            </div>
        </div>
        </div>
    </section>
    {% endblock %}