{% extends "base.html" %}
{% block title%}Poke Detail {% endblock %}

    {% block contents %}
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div style="margin-left:auto;">
                <h2>全国図鑑No.{{ object.num }}</h2>
                <h2> {{ object.name }} </h2>
            </diiv>
                <br>
                <h3>タイプ：{{object.type1}}　{% if object.type2 %}{{object.type2}}{% endif %}</h3>
                {% comment %} <p><img src="{{ object.image.url }}"></img> {% if object.image2 %}<img src="{{ object.image2.url }}">{% endif %}</img></p>
                 {% endcomment %}
                {% if object.image2 %}
                <ul style="list-style:none;display:flex; justify-content:space-around; position:relative;right:50px">
                    <li>
                        <img src="{{ object.image.url }}" alt="Image 1" style="max-width:500px;max-height:auto">
                    </li>
                    <li>
                        <img src="{{ object.image2.url }}" alt="Image 2" width="300" height="300">
                        <p style="text-align:center; font-size:20px">{{object.image2detail}}</p>
                    <li>
                {% else %}
                <img src="{{object.image.url}}" alt="Image1" style="max-width:550px; max-height:550px;">
                {%endif%}
                </ul>
                    <p></p>

                <h5>{{object.detail}}</h5>
                <p>{{ object.posted_at }}に投稿</p>
                <div style="text-align:center">
                {% if request.user == object.user %}
                    <form method="POST">
                    <a href="{% url "pokebook:pokedelete" object.pk %}"
                        class="btn my-2"  style="background-color:black;color:white">削除する</a>
                    <a href="{% url "pokebook:pokeedit" pk=object.pk%}" class="btn my-2" style="background-color:Aqua;color:naybegreen">編集する</a>
                {% endif %}
                </div>
        </div>
    </div>
    {% endblock %}